.logo {
  width: 100px;
  height: 100px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: left;
  flex-direction: row;
}

.details-content {
  margin: 5px 5px 10px 65px;
}

.home {
  height: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.home-icon {
  color: aqua;
}

.tag-list {
  padding-left: 105px;
  padding-bottom: 10px;
}
